* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif
}

body {
    background: #DBD6D1;
    color: #322925;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em 10%;
    background: transparent;
    background-color: #322925;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.home {
    height: 100vh;
    background: url(uitm-universiti-teknologi-mara-logo.png) no-repeat;
    background-size: 600px;
    background-position: 90%;
    display: flex;
    align-items: center;
    padding: 0 12%;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
    text-align: justify;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: #322925;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
